<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
    http://xmlns.jcp.org/xml/ns/javaee/web-app_6_0.xsd">

    <servlet>
        <servlet-name>WashingtonTime</servlet-name>
        <servlet-class>homework9.task9_1.WashingtonTimeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WashingtonTime</servlet-name>
        <url-pattern>/washington</url-pattern>
    </servlet-mapping>

</web-app>